workflows.json
[{"updatedAt":"2026-07-13T16:04:47.514Z","createdAt":"2026-07-09T14:06:14.214Z","id":"q6QZkhpUzoox0KVm","name":"04-Read-API","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"read-api","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-160,-16],"id":"34fe27b2-9f65-4fa1-aaed-2e18ac741753","name":"Webhook","webhookId":"3f0c1189-93e2-402e-a21b-5d488b6c0c11"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM repos \nORDER BY created_at DESC \nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-16,-16],"id":"c5c562d1-79d6-4bc2-bf98-96acda1dc73c","name":"Get Repo","credentials":{"postgres":{"id":"TjdvVWOCGgydGnVN","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM files \nWHERE repo_id = '{{ $node[\"Get Repo\"].json.id }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[160,-16],"id":"7bb82963-1c76-457d-b572-20ed79501abd","name":"Get Files","alwaysOutputData":true,"credentials":{"postgres":{"id":"TjdvVWOCGgydGnVN","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM security_findings \nWHERE repo_id = '{{ $(\"Get Repo\").first().json.id }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[336,-16],"id":"9eea1fb7-d246-40b8-985d-c5736ad8a973","name":"Get Findings","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"TjdvVWOCGgydGnVN","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{\n  {\n    \"readme\": $node[\"Get Repo\"].json.architecture_reasoning,\n    \"mermaid_dependency\": $node[\"Get Repo\"].json.mermaid_component_diagram,\n    \"findings\": $items(\"Get Findings\").map(item => item.json).filter(f => Object.keys(f).length > 0)\n  }\n}}","options":{}},"id":"cd14bacf-0652-4f66-8049-110189b3e5f4","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[560,-16]}],"connections":{"Webhook":{"main":[[{"node":"Get Repo","type":"main","index":0}]]},"Get Repo":{"main":[[{"node":"Get Files","type":"main","index":0}]]},"Get Files":{"main":[[{"node":"Get Findings","type":"main","index":0}]]},"Get Findings":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3db33d82-1840-44ac-8d47-2575bbe93873","activeVersionId":"3db33d82-1840-44ac-8d47-2575bbe93873","versionCounter":121,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-07-09T14:06:14.216Z","createdAt":"2026-07-09T14:06:14.216Z","role":"workflow:owner","workflowId":"q6QZkhpUzoox0KVm","projectId":"zsOFMeUGrhALsOUq","project":{"updatedAt":"2026-07-09T14:05:58.433Z","createdAt":"2026-07-09T14:03:58.778Z","id":"zsOFMeUGrhALsOUq","name":"Mohsin Saeed <marboo786@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"cf619293-bdc0-495d-bfe8-ad5f4d8b9a6d"}}]},{"updatedAt":"2026-07-13T16:47:26.552Z","createdAt":"2026-07-09T15:27:21.685Z","id":"0bUtCQKo1TegFEqG","name":"01-Ingestion:","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ingest","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-32],"id":"f99d2401-24f7-4c0e-b427-f9dc0a076ee0","name":"Webhook","webhookId":"66c8c667-dd2e-4eb5-8594-07b68f090880"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO repos (github_url, cloned_path, status) \nVALUES ($1, '/tmp/' || $2, 'pending') \nRETURNING *;","options":{"queryReplacement":"={{ $json.body.github_url }},{{ $execution.id }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,-32],"id":"6f34ab86-cbbd-4132-8853-ba10b8451deb","name":"Insert Repo","credentials":{"postgres":{"id":"TjdvVWOCGgydGnVN","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"http://parser-service:8000/ingest","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"dev_api_key_123"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"github_url","value":"={{ $('Insert Repo').item.json.github_url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[384,-32],"id":"dd7d0290-f9b5-469f-b935-deac85d72b7b","name":"Parse Repo"},{"parameters":{"assignments":{"assignments":[{"id":"c4467b00-9219-4aca-8702-1b6f99b8caf8","name":"chunks","value":"={{ $('Split Files').item.json.chunks }}","type":"array"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,128],"id":"0c1cc43f-cfb4-4bc4-a403-20e115de95d8","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"files","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[736,-48],"id":"13c55d7e-434b-47e4-8041-899b379a366c","name":"Split Files"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO files (repo_id, path, language) VALUES ($1, $2, $3) RETURNING id as file_id;","options":{"queryReplacement":"={{ $('Insert Repo').first().json.id }},{{ $json.path }},{{ $json.language }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[864,-288],"id":"bafb273d-0aab-4b1c-b59a-a871068ff2b0","name":"Insert Files","credentials":{"postgres":{"id":"TjdvVWOCGgydGnVN","name":"Postgres account"}}},{"parameters":{"fieldToSplitOut":"chunks","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1248,-288],"id":"b5fa0c4e-729b-47e1-9935-73b0e42bdf8d","name":"Split Chunks"},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"codeatlas","mode":"list","cachedResultName":"codeatlas"},"embeddingBatchSize":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[1488,-32],"id":"c393ba8c-a9f0-4e01-bb4b-c6d4ac63cb6d","name":"Qdrant Vector Store","notesInFlow":false,"credentials":{"qdrantApi":{"id":"fKzP05JrshNby5gn","name":"QdrantApi account"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1328,192],"id":"df21f3d1-9a99-46ee-9c07-8fedba2fac90","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"id1RmYUdvUrWCOi2","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.chunks.code }}","textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"repo_id","value":"={{ $('Insert Repo').first().json.id }}"},{"name":"file_id","value":"={{ $json.file_id }}"},{"name":"name","value":"={{ $json.chunks.name }}"},{"name":"type","value":"={{ $json.chunks.type }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[1664,176],"id":"00e3f2e7-33f2-4d22-99cb-69b47ec2b44e","name":"Default Data Loader"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"status\": \"success\",\n  \"message\": \"Repository ingested successfully\"\n}","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1952,-32],"id":"7f22e658-d468-4d9e-b44d-9722530e785b","name":"Respond to Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e7bfff5f-5679-48e6-9271-7646182d6823","leftValue":"={{ $json.chunks.code }}","rightValue":"Is Not Empty","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[1504,-320],"id":"56828e0d-b881-4a3d-b662-f768619ec56a","name":"Filter"},{"parameters":{"chunkSize":6000,"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1536,368],"id":"1c1ba4c2-5946-4ef5-9a8a-9bbf650dd53c","name":"Recursive Character Text Splitter"},{"parameters":{"batchSize":10,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1664,-304],"id":"7d22402f-7cdc-4460-95eb-c4cb6aebdea5","name":"Loop Over Items"},{"parameters":{"operation":"executeQuery","query":"UPDATE repos \nSET \n  mermaid_component_diagram = '{{ $(\"Parse Repo\").first().json.mermaid_dependency }}',\n  architecture_reasoning = '{{ $(\"Parse Repo\").first().json.summary.architecture_reasoning }}'\nWHERE id = '{{ $(\"Insert Repo\").first().json.id }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[576,96],"id":"ca0caa74-538e-4f4d-ab04-efa7ef91a525","name":"Execute a SQL query","credentials":{"postgres":{"id":"TjdvVWOCGgydGnVN","name":"Postgres account"}}}],"connections":{"Webhook":{"main":[[{"node":"Insert Repo","type":"main","index":0}]]},"Insert Repo":{"main":[[{"node":"Parse Repo","type":"main","index":0}]]},"Parse Repo":{"main":[[{"node":"Execute a SQL query","type":"main","index":0},{"node":"Split Files","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Chunks","type":"main","index":0}]]},"Split Files":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Insert Files","type":"main","index":0}]]},"Insert Files":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Split Chunks":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Qdrant Vector Store":{"main":[[]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Loop Over Items":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Execute a SQL query":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"735eeb39-0406-4beb-9103-499ecb807c36","activeVersionId":"735eeb39-0406-4beb-9103-499ecb807c36","versionCounter":219,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-07-09T15:27:21.688Z","createdAt":"2026-07-09T15:27:21.688Z","role":"workflow:owner","workflowId":"0bUtCQKo1TegFEqG","projectId":"zsOFMeUGrhALsOUq","project":{"updatedAt":"2026-07-09T14:05:58.433Z","createdAt":"2026-07-09T14:03:58.778Z","id":"zsOFMeUGrhALsOUq","name":"Mohsin Saeed <marboo786@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"cf619293-bdc0-495d-bfe8-ad5f4d8b9a6d"}}]},{"updatedAt":"2026-07-13T17:44:46.757Z","createdAt":"2026-07-09T18:25:40.731Z","id":"mFgxe0OMBzTkALF1","name":"Workflow2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"public":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-400,0],"id":"06a6e727-3cad-47f2-9789-706c866e75d9","name":"When chat message received","webhookId":"63556229-4761-45c0-bdab-619a1b99f2de"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[96,0],"id":"da6d6919-ff8f-4a80-ab57-5812b58b6e4e","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-flash-lite-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-368,288],"id":"67ca1728-ecd1-49df-9e0e-d48226346ccf","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"id1RmYUdvUrWCOi2","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-176,304],"id":"b21ef4db-7f6b-459d-bfd8-1aafbf64e5c5","name":"Simple Memory"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Use this to search the Express.js source code to answer the user's coding questions","qdrantCollection":{"__rl":true,"value":"codeatlas","mode":"list","cachedResultName":"codeatlas"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[32,304],"id":"7c24940e-0cf9-4fda-b7aa-77eb091d5a89","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"fKzP05JrshNby5gn","name":"QdrantApi account"}}},{"parameters":{"modelName":"models/gemini-embedding-2"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[112,448],"id":"7d1098a3-656e-48ad-bf7d-cd3ac745ac38","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"id1RmYUdvUrWCOi2","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Execute a SQL query in PostgresUse this tool to query the CodeAtlas Postgres database.\nHere is the schema:\nTable \"repos\": id (uuid), github_url (text), architecture_reasoning (text), mermaid_component_diagram (text)\nTable \"files\": id (uuid), repo_id (uuid), path (text), language (text), size_bytes (int)\nTable \"security_findings\": id (uuid), repo_id (uuid), file_path (text), description (text), severity (text)\nAlways JOIN files and security_findings on repo_id = repos.id.","operation":"executeQuery","query":"={{ $fromAI('query') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[432,304],"id":"83270909-2eeb-40b5-bf0d-c4aa6ae60f18","name":"Execute a SQL query in Postgres","credentials":{"postgres":{"id":"TjdvVWOCGgydGnVN","name":"Postgres account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Qdrant Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Execute a SQL query in Postgres":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b20a9fe4-eab3-4c93-bf49-8ffc186fc3e3","activeVersionId":"b20a9fe4-eab3-4c93-bf49-8ffc186fc3e3","versionCounter":80,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-07-09T18:25:40.734Z","createdAt":"2026-07-09T18:25:40.734Z","role":"workflow:owner","workflowId":"mFgxe0OMBzTkALF1","projectId":"zsOFMeUGrhALsOUq","project":{"updatedAt":"2026-07-09T14:05:58.433Z","createdAt":"2026-07-09T14:03:58.778Z","id":"zsOFMeUGrhALsOUq","name":"Mohsin Saeed <marboo786@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"cf619293-bdc0-495d-bfe8-ad5f4d8b9a6d"}}]},{"updatedAt":"2026-07-10T18:20:57.533Z","createdAt":"2026-07-09T19:25:13.240Z","id":"OuTBNPhaKNov7BKm","name":"Documentation","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"f67ffb24-6d57-4036-8aec-fbaf4e19c4ca","name":"When clicking ‘Execute workflow’"},{"parameters":{"public":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[208,0],"id":"ae0572f6-d9c1-489f-94ce-602ee5e7b0ff","name":"When chat message received","webhookId":"9d0fed7d-d210-4df6-a386-23da688f4fae"},{"parameters":{"promptType":"define","text":"Please execute your system instructions and write the documentation.","options":{"systemMessage":"You are a Senior Technical Writer. Your job is to search the codebase using your Qdrant tool to understand the architecture. You must output exactly two things formatted with markdown headers: a comprehensive # README explaining how the project works, and a # Mermaid Diagram containing a raw Mermaid.js graph of the system's architecture."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[416,0],"id":"c81f2398-04e5-4095-86da-4299cabba77f","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-flash-lite-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[128,256],"id":"81be91a4-1905-4837-a03e-d16ef1ca108d","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"id1RmYUdvUrWCOi2","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Use this tool to search the source code.","qdrantCollection":{"__rl":true,"value":"codeatlas","mode":"list","cachedResultName":"codeatlas"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[336,256],"id":"3028166e-8fc9-4171-8bba-85a071fd397b","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"fKzP05JrshNby5gn","name":"QdrantApi account"}}},{"parameters":{"jsCode":"// Grab the massive text blob from the AI Agent\nconst text = $input.first().json.output || $input.first().json.text;\n\n// Use Regex to slice out the README part and the Mermaid part\nconst readmeMatch = text.match(/# README\\n([\\s\\S]*?)(?=# Mermaid Diagram|$)/i);\nconst mermaidMatch = text.match(/```mermaid\\n([\\s\\S]*?)```/i) || text.match(/# Mermaid Diagram\\n([\\s\\S]*?)$/i);\n\n// Return them as two neatly separated data fields!\nreturn {\n  json: {\n    readme: readmeMatch ? readmeMatch[1].trim() : \"No README generated.\",\n    mermaid: mermaidMatch ? mermaidMatch[1].trim() : \"No diagram generated.\"\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,0],"id":"b71ce362-510f-4fbd-af0e-6cb189c956d8","name":"Code in JavaScript"},{"parameters":{"modelName":"models/gemini-embedding-2"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[432,464],"id":"8131e688-fd09-4c85-96eb-4b1186fcae67","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"id1RmYUdvUrWCOi2","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Qdrant Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0eec7e69-7052-4cb4-af7f-3fdb845cb038","activeVersionId":"0eec7e69-7052-4cb4-af7f-3fdb845cb038","versionCounter":28,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-07-09T19:25:13.243Z","createdAt":"2026-07-09T19:25:13.243Z","role":"workflow:owner","workflowId":"OuTBNPhaKNov7BKm","projectId":"zsOFMeUGrhALsOUq","project":{"updatedAt":"2026-07-09T14:05:58.433Z","createdAt":"2026-07-09T14:03:58.778Z","id":"zsOFMeUGrhALsOUq","name":"Mohsin Saeed <marboo786@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"cf619293-bdc0-495d-bfe8-ad5f4d8b9a6d"}}]}]